body {
	color:black;
	font-family: monospace;
    background:white;
    font-size:17px;
	line-height: 150%;
}

img{
    width:auto;
    height:auto;
	max-width:100%;
}


#contain{
    padding:1vw;
	max-width:100%;
}


.content{
    margin-left:2vw;
    padding-left:0.5vw;
	max-width:100%;
}

a:visited {
    color:#0022ff;
}

a{
    color:#0022ff;
}
