body {
	color:black;
	font-family: monospace;
    background:white;
    font-size:17px;
	line-height: 150%;
}

img{
    width:auto;
    height:auto;
	max-width:100%;
}


#contain{
    padding:2vw;
}




.content{
    margin-left:18%;
    padding-left:1.5vw;
	width:100%;
}

a:visited {
    color:#0022ff;
}

a{
    color:#0022ff;
}
