body {
	font-family: helvetica;
    background:white;
    font-size:17px;
}

img{
    width:auto;
    height:auto;
	max-width:100%;
}

button{
	font-size:18px;
	background:transparent;
	border:1px solid lightgrey;
	border-radius: 3px;
}

button:hover{
	background:lightgrey;
}

#contain{
    padding:2em;
}

.content-img{
    max-width:18%;
    float:left;
}


.content{
    margin-left:18%;
    padding-left:2.5em;
}

.box {
    padding:1em;

}

.indent {
	margin-left: 1em;
}

.list {
	list-style-type: none;
}

.bold {
	font-weight: bold;
}
.grey{
    color:grey;
}

a:visited {
    color:#0022ff;
}

a{
    color:#0022ff;
}

li{
	list-style-type:none;
	line-height: 120%;
}

li:before { content: '>'; margin-left: -35px; font-size:10px; margin-right: 10px; }


.sticky{
	border:1px solid lightgrey;
	border-radius: 5px;
	display:inline-block;
	margin:10px;
	padding:15px;
	vertical-align: top;
}
