body {
	font-family: helvetica;
    background:white;

    font-size:15px;
}

#contain{
    padding:2em;
}

.content-img{
    max-width:15%;
    float:left;
}
img{
    width:auto;
    height:auto;
}

.img-avi{
    max-width:100%;
}

.content{
    margin-left:15%;
    padding-left:2em;
}

.box {
    padding:1em;

}

.indent {
	margin-left: 1em;
}

.list {
	list-style-type: none;
}

.bold {
	font-weight: bold;
}
.grey{
    color:grey;
}

a:visited {
    color:#0022ff;
}

a{
    color:black;
}
